* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}
.btn-primary {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  height: 64px;
  background: #fd6e0a;
  border-radius: 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 60px 200px;
}
.nav-title {
  font-weight: 700;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
.banner-container,
.sponser-container {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}
.banner-title,
.sponser-title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 34px;
}
.banner-content,
.sponser-content {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 33px;
}
.banner-img {
  margin-top: 50px;
}
.quick-list-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.quick-list {
  display: flex;
  margin: 130px 200px;
  align-items: center;
  gap: 50px;
}
.quick-list-title {
  margin-bottom: 25px;
}
.quick-list-content {
  margin-bottom: 25px;
}

.title-1 {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}
.title-2,
.title-3 {
  font-weight: 500;
  font-size: 45px;
}
.title-3 {
  color: #ff900e;
}
.quick-list-content {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.experience-container {
  margin: 130px 200px;
}
.experience-part-1-title {
  font-weight: 700;
  font-size: 45px;

  border-left: 5px solid red;
  margin-bottom: 24px;
}
.experience-part-1-content {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
  margin-bottom: 16px;
}
.experience-main-part-title {
  font-weight: 600;
  font-size: 20px;
}
.experience-main-part-content {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.experience-main-part-title {
  margin: 60px 0px 10px 0px;
}
.experience-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.experience-part-2 .btn-primary-1 {
  top: 20%;
  left: 90%;
  transform: translate(-50%, -70%);
}

.btn-primary-1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 18px 35px;
  width: 342px;
  height: 200px;
  background: #ff900e;
  border-radius: 15px;
}
.year {
  font-weight: 700;
  font-size: 65px;
}
.ex {
  font-weight: 500;
  font-size: 25px;
}
.fact-container,
.box-container,
.icon-container,
.footer {
  margin: 60px 200px;
}
.fact-title {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 30px;
}
.fact-content {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}
.box-container {
  display: flex;
  justify-content: space-between;
}
.box-1,
.box-2,
.box-3,
.box-4 {
  text-align: center;
  width: 200px;
  height: 200px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  tra
}
.box-1-content,
.box-2-content,
.box-3-content,
.box-4-content {
  margin: 45px 35px;
}

.icon {
  display: flex;
  justify-content: space-between;
}
.footer {
  background: #fff4e7;
  width: 80%;
  height: 100px;
}
.footer-content {
  text-align: center;
}
.sponser-content {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.box-4:hover{
    transform: scale(0.75) rotate(45deg);
}
.box-3:hover{
    transform: scale(0.75) rotate(45deg);
}
.box-2:hover{
    transform: scale(0.75) rotate(45deg);
}
.box-1:hover{
    transform: scale(0.75) rotate(45deg);
}